{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/EllonMosko.jpg')}}" width="500" height="300" class="rounded mx-auto d-block" alt="...">

  <div class="container text-center" style="margin-top: 20vh;">
    <h1>Enviando o foguete <br>
         Pra argentina KKKKKKKKKKKKK</h1><br><br>
    <br><br>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/ventiladores" class="btn btn-outline-secondary">Voltar</a>
        </div>
  </div>
{% endblock %}