{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/foguete.png')}}" width="400" height="400" class="rounded mx-auto d-block" alt="...">

  <div class="container text-center" style="margin-top: 20vh;">
    <h1>por apenas: <br>
        Vbucks 99999999999999</h1><br><br>
    <div>
        <h5>Tipo: Foguete Ellon Mosko<br>
        explodir argentina<br>
        ele dá ré <br>
        Roda DOOM</h5>
    </div><br><br>
       <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/ellonMusk1" class="btn btn-outline-secondary">Obter</a>
       </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/ventiladores" class="btn btn-outline-secondary">Voltar</a>
        </div>
  </div>
{% endblock %}