{% extends 'base.html' %}
{% block conteudo %}
  <div class="container text-center mt-5">
    <h1>Sejam muito bem vindos!</h1>
    <p class="lead">Página dos ventiladores !</p><br><br>

  </div>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <iframe width="1000" height="700" src="https://www.youtube-nocookie.com/embed/d3JUgs1WomI?si=-whruLuJ3A44TdCf&amp;start=260" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
    <div class="container text-center mt-5">
     <p class="lead"> O ventilador oferece a vantagem de poder ser usado com as janelas do ambiente abertas<br>
                   e por isso, promove a constante renovação do ar.</p><br>
      <a href="/ventiladores" class="button">
          <button class="button2">Catálogo</button><br><br><br><br>
      </a>
    </div>

</body>
</html>
{% endblock  %}
