{% extends 'base.html' %}
{% block conteudo %}

<img src="{{url_for('static',filename='imagens/ventilador1.png')}}" width="500" height="500" class="rounded mx-auto d-block" alt="...">

  <div class="container text-center" style="margin-top: 20vh;">
    <h1>por apenas: <br>
        R$ 199,90</h1><br><br>
    <div>
        <h5>Tipo: Ventilador Arno, BiVolt<br>
        4 velocidades<br>
        desing econômico<br>
            até 6x Sem juros</h5>
    </div><br><br>
       <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/contato" class="btn btn-outline-secondary">Obter</a>
       </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/ventiladores" class="btn btn-outline-secondary">Voltar</a>
        </div>
  </div>
{% endblock %}