{% extends 'base.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="form-container">
		<p class="title">Login</p>
		<form class="form">
			<div class="input-group">
				<label for="username">Usuário</label>
				<input type="text" name="usuario" id="username" placeholder="">
			</div>
			<div class="input-group">
				<label for="password">Senha</label>
				<input type="password" name="senha" id="password" placeholder="">
				<div class="forgot">
					<a rel="noopener noreferrer" href="#">Esqueceu a Senha?</a>
				</div>
			</div>
			<button class="sign"><E>Entrar</E></button>
		</form>
		<p class="signup">Não tem uma conta?
			<a rel="noopener noreferrer" href="/cadastro" class="">Cadastrar</a>
		</p>
		<p class="signup">é um desenvolvedor?
			<a rel="noopener noreferrer" href="/adm" class="">Dev Login</a>
		</p>
	</div>
</div>
{% endblock %}
